<html>
<head>
<title>{{ title }}</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js">
	
</script>

<script>
	function validateForm() {
		var x = document.forms["myForm"]["url"].value;
		if (x == null || x == "") {
			alert("URL must be filled out");
			return false;
		}
		/* if(!x.startsWith("http")){
			x = "http://" + x;
			document.forms["myForm"]["url"].value = x;
		} */
		return true;
	}
	function https(){
		var x = document.forms["myForm"]["url"].value;
		/* if (x == null || x == "") {
			alert("URL must be filled out");
			return false;
		} */
		if(!x.startsWith("http")){
			x = "https://" + x;
			document.forms["myForm"]["url"].value = x;
		}
		return true;
	}
</script>

</head>
<body>
	<div class='container'>
		<div class="row">
			<div class="col-sm-6 col-md-4 col-md-offset-4">
				<h3 class="text-center login-title">Enter source URL to crawl</h3>
				<br>
				<div class="account-wall" role="form" method="POST" action="">
					<form class="form-signin" action="crawl" method="post"
						name="myForm" onsubmit="return validateForm()">
						<input class='form-control' type="text" name="url" onblur="https()""></input> <br>
						<br>
						<button class="btn btn-lg btn-primary btn-block" type="submit"
							value="Crawl">Go</button>
					</form>
					<br>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
